<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 
 
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITamagotchiService" />
                <binding name="BasicHttpBinding_ITamagotchiService1" />
                <binding name="BasicHttpsBinding_ITamagotchiService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10743/TamagotchiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITamagotchiService"
                contract="TamagotchiServiceLocal.ITamagotchiService" name="BasicHttpBinding_ITamagotchiService" />
            <endpoint address="https://tamagotchiwebservice.azurewebsites.net/TamagotchiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITamagotchiService"
                contract="Tamagotchi_Service.ITamagotchiService" name="BasicHttpsBinding_ITamagotchiService" />
        </client>
    </system.serviceModel>
</configuration>